{{ form_start(searchForm, {'attr': {'class': 'row collapse'}}) }}
    <div class="large-9 columns">
        <div class="row collapse">
            <div class="small-12 columns">
                {{ form_widget(searchForm.q, {'required': false, 'attr': {'autofocus': 'true'}}) }}
            </div>
        </div>
    </div>
    <div class="large-3 columns">
        <div class="row collapse">
            <div class="small-6 columns">
                {{ form_widget(searchForm.type) }}
            </div>
            <div class="small-6 columns">
                {{ form_widget(searchForm.search, { 'label': 'Search »','attr': {'class': 'primary-color postfix'}}) }}
            </div>
        </div>
    </div>
{{ form_end(searchForm) }}
